#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: +1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;  
    color: #fff;
}


button {
    border: 1px solid #fff;
    padding: .5rem;
    border-radius: .25rem;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    box-sizing: content-box;
}