.texto-inner p:not(.citacao)::first-letter {
    margin-left: 0 !important;
}

.texto-inner p {
    margin-bottom: 6pt;
    text-align: left;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: +1;
    color: #111;
}