<p>Qual é a diferença entre um texto pra teatro e outro que não é para teatro? / será que pode estar relacionado a tempo, ou ao devir, como se queira? O texto para teatro não se encerra nele mesmo, existe ali um outro tempo, um futuro, como que previsto, mais ou menos previsto. Será que o que muda em relação ao texto para teatro é justamente essa operação direta sobre o tempo? Não digo isso em alusão a ideia de arte em 2 tempos, mas poderia? talvez não devesse, apenas porque a ideia de 2 tempos mata o devir.</p>
<p>Qual é a diferença?</p>
<p>Dramaturgia arte em dois tempos → devir?</p>
<p>Será que a maneira de fazer roteiros da indústria de videogames pode ser um exemplo interessante?</p>
<p>TWINE?</p>