.texto,.texto_link,.imagem,.video {
    position: absolute;
}

.texto .video {
    position: relative;
}

.audio {
    margin: 16px 0;
}

.imagem {
    z-index: +1;
}

.texto_link {
    z-index: +2;
    font-size: 36px;
    min-width: 250px;
    white-space: normal;
    cursor: pointer;
}
/* HOVER DO LINK */
.texto_link:hover span {
    background: rgba(255, 54, 116,.15);
}

.imagem > * {
    position: absolute;
}

.imagem > img,.video video,video {
    width: 100%;
    display: block;
}

.multiply {
    mix-blend-mode: multiply;
}

.texto {
    z-index: +3;
}

.texto p {
    font-size: 20px;
    line-height: 32px;
    width: 90vw;
    max-width: 770px;
    font-style: italic;
    white-space: normal;
}

.texto span {
    background: #fff;
    padding: 2px;
}
/* .texto span:hover {
    background: yellow;
    padding: 2px;
} */

.link_back img {
    display: block;
    width: 128px;
    cursor: pointer;
}

.trabalho {
    position: absolute;
}

.link {
    background: rgba(255, 255, 0,.5) !important;
    cursor: pointer !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: +10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 64px;
    cursor: default;
}
#overlay span {
    display: block;
    padding: 16px;
}

#wrapper_mapa {
    width: 100vw;
    height: 80vh;
    position: relative;
    left: 0;
    top: 0;
    overflow: scroll;
    background: url(/assets/travessia/paper-pattern.jpg) center center repeat;
    cursor: grab;
}
#wrapper_mapa.grabbing {
    cursor: grabbing;
}
#mapa {
    overflow: hidden;
}

#osso-chico {
    width: 4000px;
    height: 3000px;
    top: 0;
    left: 0;
    user-select: none;
    font-family: 'IBM Plex Serif', Georgia, serif;
}



/* IMAGENS */

#imagem1 /* bartolomeu */ {
    left: 55px;
    top: 160px;
    width: 1170px;
    height: 1424px;
}

#olhos-tristes {
    left: 55%;
    top: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    user-select: none;
}

#imagem2 /* coluna */ {
    left: 2100px;
    top: 1425px;
    width: 489px;
    height: 2380px;
    transform: translate(-50%,-50%) rotateZ(-62deg);
}

#imagem2-alt /* coluna */ {
    left: 2350px;
    top: 1425px;
    width: 1048px;
    height: 2458px;
    transform: translate(-50%,-50%) rotateZ(-62deg);
}
/* #imagem2-alt:hover {
    z-index: +2;
} */
#imagem2-alt img {
    width: 489px;
    height: 2380px;
}
#imagem2-alt .coluna_texto {
    max-width: 20em;
    font-size: 24px;
    line-height: 1.25;
    font-style: italic;
    padding: .25em;
    white-space: normal;
    cursor: default;
}
#imagem2-alt .coluna_texto:hover {
    z-index: +1;
}
#imagem2-alt .coluna_texto:hover span {
    background: #fff;
}

#imagem3 /* perna */ {
    left: 2748px;
    top: 303px;
    width: 723px;
    height: 2326px;
    transform: rotateZ(180deg);
    z-index: +1;
    pointer-events: none;
}

#imagem4 /* pe */ {
    left: 195px;
    top: 2392px;
    width: 965px;
    height: 563px;
    z-index: +1;
}

#imagem5 /* pe1 */ {
    left: 1320px;
    top: 1979px;
    width: 1457px;
    height: 1021px;
    z-index: +1;
}

#imagem6 /* tronco */ {
    left: 3576px;
    top: 2284px;
    width: 284px;
    height: 597px;
}
#imagem6b /* cranio */ {
    left: 3530px;
    top: 1850px;
    width: 363px;
    height: 486px;
}

#imagem7 /* circulacao-face */ {
    left: 1429px;
    top: 193px;
    width: 347px;
    height: 513px;
}

#imagem8 /* bartolomeu-estatua */ {
    left: 3225px;
    top: 296px;
    width: 793px;
    height: 1200px;
}

/* VIDEOS */



#video2a /* pe1 */ {
    left: 2120px;
    top: 149px;
    width: 480px;
    height: 360px;
}
#video2b /* pe2 */ {
    left: 2560px;
    top: 71px;
    width: 480px;
    height: 360px;
}
#video2c /* pe3 */ {
    left: 3040px;
    top: 123px;
    width: 480px;
    height: 360px;
}
#video2d /* pe4 */ {
    left: 3414px;
    top: 20px;
    width: 480px;
    height: 360px;
}

#video3a /* joelho2 */ {
    left: 839px;
    top: 1418px;
    width: 480px;
    height: 360px;
}
#video3b /* joelho1 */ {
    left: 1074px;
    top: 1821px;
    width: 480px;
    height: 360px;
}
#video3c /* tornozelo */ {
    left: 920px;
    top: 2181px;
    width: 480px;
    height: 360px;
}

#video4 /* cervical */ {
    left: 20px;
    top: 20px;
    width: 480px;
    height: 360px;
    z-index: 0;
}

#videot4_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#videot4a /* atropelamento */ {
    position:relative;
    width: 50%;
}
#videot4b /* react */ {
    position:relative;
    width: 50%;
}

#videoWelles2 /* instagram */ {
    position:relative;
    width: 50%;
}

/* TEXTOS */

#texto1 {
    left: 541px;
    top: 1047px;
}

#texto2 {
    left: 1166px;
    top: 268px;
}

#texto3 {
    left: 2160px;
    top: 1824px;
}

#texto4 {
    left: 3121px;
    top: 1151px;
}

#texto5 {
    left: 2100px;
    top: 482px;
}

#textoLauren {
    left: 0px;
    top: 50px;
}


/* LINKS */

#link_texto1 {
    left: 371px;
    top: 1729px;
    background: url(/assets/travessia/x1.png) left top no-repeat;
    background-size: 36px;
    padding-left: 48px;
}

#link_texto2 {
    left: 977px;
    top: 176px;
    background: url(/assets/travessia/x2.png) center top no-repeat;
    background-size: 36px;
    padding-top: 48px;
}

#link_texto3 {
    left: 2286px;
    top: 2186px;
    background: url(/assets/travessia/x3.png) left top no-repeat;
    background-size: 36px;
    padding-left: 48px;
}

#link_texto4 {
    left: 3515px;
    top: 1588px;
    background: url(/assets/travessia/x4.png) left top no-repeat;
    background-size: 36px;
    padding-left: 48px;
}

#link_texto5 {
    left: 2619px;
    top: 735px;
    background: url(/assets/travessia/x5.png) left top no-repeat;
    background-size: 36px;
    padding-left: 48px;
}

#link_textoLauren {
    left: 0px;
    top: 0px;
    background: url(/assets/travessia/x5.png) left top no-repeat;
    background-size: 36px;
    padding-left: 48px;
}




#link_last {
    position: absolute;
    top: 0;
    left: 0;
    z-index: +10000;
    color: #fff;
    background: #000;
    padding: .35rem .5rem;
    cursor: pointer;
}