<nav id="menu">
    <button class="rizoma" routerLink="/rizoma">rizoma</button>
</nav>
<div class="texto-wrapper">
    <div class="texto-inner">
        <div class="titulo">
            <h1>Dramaturgia e tecnologia</h1>
        </div>
        <p>Essa léxia tem a inteção de discutir as relações entre a dramaturgia contemporânea e as novas tecnologias, abordando o conceito de dramaturgia e tentando perceber qual o lugar do texto dramatúrgico no teatro contemporâneo. É realizada análise de HIPERGAIVOTA, uma performance online compartilhada em tempo real, produzida a partir desta pequisa, como uma especulação sobre relações possíveis entre código-fonte e dramaturgia.</p>
        <h2>Dramaturgia</h2>
        <p class="anotacao"><span>Em elaboração</span></p>
        <p>Discussão sobre dramaturgia na contemporaneidade, a partir de uma avaliação conceitual com <citacao [id]="'Sarrazac-2017'" [par]="false"></citacao>, <citacao [id]="'Danan-2012'" [par]="false"></citacao>, <citacao [id]="'Eckersall-2017'" [par]="false"></citacao>, <citacao [id]="'Lehmann-2007'" [par]="false"></citacao>, <citacao [id]="'Kerkhoven-2009'" [par]="false"></citacao>, entre outros.</p>
        <h2>O texto na dramaturgia contemporânea</h2>
        <p class="anotacao"><span>Em elaboração</span></p>
        <p>Qual o lugar do texto na dramaturgia contemporânea? Em uma das primeiras aulas que tive como aluno de Mestrado neste programa, o Prof. Dr. Clóvis Dias Massa trouxe uma pergunta-provocação: qual o estatuto do texto no teatro contemporâneo? A partir dessa questão será desenvolvida uma reflexão sobre o que significa texto no teatro de hoje com <citacao [id]="'Sarrazac-2017'" [par]="false"></citacao>, <citacao [id]="'Danan-2012'" [par]="false"></citacao>, <citacao [id]="'Lehmann-2007'" [par]="false"></citacao>, <citacao [id]="'Pavis-2008'" [par]="false"></citacao>, <citacao [id]="'Grazioli-2019'" [par]="false"></citacao>, entre outros).</p>
    </div>
</div>