<div class="control">
    <button class="columns" [class.active]="!list" (click)="setList(false)"></button>
    <button class="rows" [class.active]="list" (click)="setList(true)"></button>
</div>
<div class="galeria" [class.list]="list">
    <div class="figura" [class.tresCol]="col == 3" [class.quatroCol]="col == 4" *ngFor="let fig of figuras; let i = index" >
        <div class="figura-wrapper">
            <img *ngIf="fig.media == 'image'" [src]="__dir + fig.file" [alt]="fig.name" (click)="showFigura(i)"/>
            <youtube *ngIf="fig.media == 'youtube'" [id]="fig.file"></youtube> 
        </div>
        
        <div class="caption"><span [innerHTML]="fig.caption"></span></div>
        <div class="nav" *ngIf="fig.lexia">
            <a [routerLink]="'/rizoma/lexia/'+fig.lexia" [fragment]="fig.name">ver lexia</a>
        </div>
    </div>
</div>
<div class="lightbox">
    <div class="overlay" [class.show]="showLightbox" (click)="dismiss()"></div>
    <div class="lb_figura" [class.show]="showLightbox">
        <img *ngIf="figuras[activeFigura]" [src]="__dir + figuras[activeFigura].file | safe:'url'" alt="">
        <div class="close" (click)="dismiss()"></div>
        <div class="prev" (click)="prev()"><img src="/assets/chevron-esquerda.svg"></div>
        <div class="next" (click)="next()"><img src="/assets/chevron-direita.svg"></div>
    </div>
    
</div>