<nav id="menu" [class.show]="menuState">
    <button *ngIf="!lexia" routerLink="/capa" routerLinkActive="active">capa</button>
    <button *ngIf="!lexia" routerLink="/epigrafe" routerLinkActive="active">epígrafe</button>
    <button *ngIf="!lexia" routerLink="/resumo" routerLinkActive="active">resumo</button>
    <button class="rizoma" routerLink="/rizoma">rizoma</button>
    <button *ngIf="!lexia" routerLink="/referencias" routerLinkActive="active">referências</button>

    <button class="logout" (click)="logOut()">Sair</button>
</nav>

<div class="hamburger hamburger--squeeze nav-trigger" (click)="toggleMenu()" [class.is-active]="menuState">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
</div>