<div class="video-wrapper" *ngIf="id">
    <div *ngIf="!playing" (click)="play()" class="placeholder" [style.backgroundImage]="'url(https://img.youtube.com/vi/'+ id +'/hqdefault.jpg' | safe: 'style'">
        <span>vídeo</span>
        <div class="titulo" *ngIf="titulo"><span>{{titulo}}</span></div>
        <div class="play"></div>
    </div>
    <iframe *ngIf="playing" title="youtubeFrame" [src]="url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
