<app-menu></app-menu>
<div class="texto-wrapper">
    <div class="texto-inner">
        <app-lexias-conectadas [id]="nodeId"></app-lexias-conectadas>
        <div class="titulo">
            <h1>Um texto por vir</h1>
        </div>
        <p class="anotacao"><span>Em elaboração.</span></p>
        <p>Tudo por fazer. Gostaria apenas de citar Blanchot. Em uma passagem muito bonita de <span class="titulo-obra">O Livro Por Vir</span> <citacao [id]="'Blanchot-2005'" [min]="true"></citacao>, Blanchot descreve o canto que atrai os marinheiros no mar, canto que é "também ele uma navegação: era uma distância, e o que revelava era a possibilidade de percorrer essa distância de fazer, do canto, o movimento em direção ao canto, e desse movimento, a expressão do maior desejo" (p.4). Um texto como um canto de sereia, uma navegação, um movimento constante. 
            <p class="citacao">A narrativa não é o relato do acontecimento, mas o próprio acontecimento, o acesso a esse acontecimento, o lugar aonde ele é chamado para acontecer, acontecimento ainda porvir e cujo poder de atração permite que a narrativa possa esperar, também ela, realizar-se (p.8).</p> 
        <p>Pouco mais a diante:</p> 
            <p class="citacao">A narrativa é movimento em direção a um ponto, não apenas desconhecido, ignorado, estranho, mas tal que parece não haver, de antemão e fora desse movimento, nenhuma espécie de realidade, e tão imperioso que é só dele que a narrativa extrai sua atração, de modo que ela não pode nem mesmo começar antes de o haver alcançado; e, no entanto, é somente a narrativa e seu movimento imprevisível que fornecem o espaço onde o ponto se torna real, e atraente. (id.)</p>
    </div>
</div>
