.lexias {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'IBM Plex Sans';
}

.lexias a {
    margin: .25rem;
}

.secondary {
    background: rgba(17,17,238,.5);
}
.terciary {
    background: rgba(17,17,238,.25);
}

.loading {
    position: relative;
    color: #111;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    padding: 2rem;
}