<app-menu></app-menu>
<div class="texto-wrapper" #wrapperEl>
    <div class="texto-inner" #innerEl>
        <app-lexias-conectadas [id]="nodeId"></app-lexias-conectadas>
        <div class="titulo">
            <h1>Os Hiperdramas de Charles Deemer</h1>
        </div>
        <p class="epigrafe">
            <app-citacao-direta 
                [portugues]="'Escrever em hipertexto é realmente dois tipos de escrita: escrita de um texto no senso formal usual (mas com uma nova lógica emergente de narrativa e drama) e escrita de um código de computador (do tipo mais elementar!)'"
                [original]="'Writing hypertext is really two kinds of writing: text writing in the normal formal sense (but with a new emerging logic of narrative and drama) and computer code writing (of the most elementary kind!).'"
                [ref]="'Deemer-1994'"
                [pg]="'s/p'"
                [inline]="true"
                [quotes]="false"
            ></app-citacao-direta>
        </p>

        <hr>

        <div class="txt-menu">
            <div><a routerLink="hipertexto" routerLinkActive="active">O que é hipertexto</a></div>
            <div><a routerLink="hiperdrama" routerLinkActive="active">O que é hiperdrama</a></div>
            <div><a routerLink="last-song-of-violeta-parra" routerLinkActive="active">The last song of Violeta Parra</a></div>
        </div>

        <hr>

        <div class="txt-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>