<div id="login-wrapper">
    <div id="login-form">
        <h1>Desenhos eletrônicos</h1>
        <form [formGroup]="form" #f="ngForm">
            <div class="field-group">
                <div class="form-field">
                    <!--<label for="name">Seu nome</label>-->
                    <input type="text" placeholder="seu nome" formControlName="name" (keyup)="handleKey($event)" aria-label="Seu nome" [class.flash]="flash">
                </div>
                <div class="form-field button-field end">
                    <button type="button" (click)="onSubmit()" [class.disabled]="form.invalid">Entrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="erro">Houve um erro ao registrar seu nome, por favor, tente novamente.</div>
</div>
